<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'bootstrap-4.0.0/css/bootstrap.min.css' %}" >
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/main.css' %}" ></link>
    <!-- Fonts -->
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/google-font.css' %}">
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/oml-icons.css' %}">

</head>
<body>

{% include 'messages.html' %}

<div class="row">
    <div class="col-md-9">
        <table class="table table-striped">
            <tr>
                <td><strong>{% trans 'Teléfono' %}</strong></td>
                <td>{{contacto.telefono}}</td>
            </tr>
        {% for datos in mas_datos %}
            <tr>
                <td><strong>{{datos.0|title}}</strong></td>
                <td>{{datos.1}}</td>
            </tr>
        {% endfor %}
            <tr>
                <td colspan="2"><strong>{% trans 'Formulario recientemente cargado' %}</strong></td>
            </tr>
        {% for key, values in metadata.items %}
            <tr>
                <td><strong>{{key|title}}</strong></td>
                <td>{{values}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
</body>
</html>
