<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    <h1>{% trans 'Grupos horarios' %}</h1>
    <div class="row">
        <div class="column-md-5">
            <table class="table">
                <thead>
                    <tr>
                        <th>{% trans 'ID' %}</th>
                        <th colspan="2">{% trans 'Nombre' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for grupo_horario in grupos_horarios %}
                        <tr>
                            <td>{{ grupo_horario.id }}</td>
                            <td><a href="{% url 'editar_grupo_horario' grupo_horario.id %}">{{ grupo_horario.nombre }}</a></td>
                            <td>
                                <a class="dropdown-item" href="{% url 'eliminar_grupo_horario' grupo_horario.pk %}">
                                    <span class="icon icon-trash"></span>{% trans 'Eliminar' %}
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td>{% trans 'No hay grupos horarios configurados' %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <a class="btn btn-light btn-sm" href="{% url 'crear_grupo_horario' %}" >{% trans 'Agregar grupo horario' %}</a>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'user_list' page=page_obj.previous_page_number%}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">{% trans 'Anterior' %}</span>
                    </a>
                </li>
            {% endif %}

            <li class="page-item current">
                {% blocktrans with page_number=page_obj.number num_pages=paginator.num_pages %}
                    Página {{ page_number }} de {{ num_pages }}
                {% endblocktrans %}
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'user_list' page=page_obj.next_page_number %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">{% trans 'Siguiente' %}</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
