<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "campanas/campana_manual/campana_manual_base.html" %}
{% load i18n %}
{% load static %}
{% block title_campana %}
    <h1>{% trans 'Campaña Manual: Datos Básicos' %}</h1>
{% endblock %}

{% block interaccion %}
    {{ form.tipo_interaccion.errors }}
    {% if form.instance.pk %}
        {% if form.instance.tipo_interaccion == 2 %}
            <div class="col-md-6">
                <label>{% trans "Sitio Externo" %}</label>
                <input id="urlSitioExterno" type="text" class="form-control"
                       value="{{ form.instance.sitio_externo.url }}" disabled/>
                {{ form.sitio_externo }}
                {{ form.sitio_externo.errors }}
            </div>
        {% endif %}
    {% else %}
        <div class="col-md-6">
          <label> {% trans "Tipo de Interacción" %}</label>
            <div class="myradio" onclick="interaccionUrl()">{{ form.tipo_interaccion.0 }} </div>
            <div class="myradio" onclick="interaccionUrl()">{{ form.tipo_interaccion.1 }}</div>
        </div>
        <div class="col-md-6">
            <label><div class="myradio" id="url_externa">
            {% trans "Url Externa" %}</div> </label>
            {{ form.sitio_externo.errors }}
            {{ form.sitio_externo }}
        </div>
    {% endif %}
{% endblock interaccion %}
