<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% load staticfiles %}
{% load static %}
{% load i18n %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'bootstrap-4.0.0/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/daterangepicker.css' %}">
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/bootstrap-datetimepicker.min.css' %}"></link>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/main.css' %}" ></link>
    <!-- Fonts -->
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/google-font.css' %}">
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/oml-icons.css' %}">
    <!-- Scripts -->
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    {% compress js %}
    <script src="{% static 'jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.0.0/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ominicontacto/JS/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ominicontacto/JS/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ominicontacto/JS/daterangepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'ominicontacto/JS/ranges-datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'ominicontacto/JS/config_datetimepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'ominicontacto/JS/agente/make_click2call.js' %}"></script>
    {% endcompress %}

    <!-- TODO: REMOVER - FIX HASTA CAMBIAR BS3 por BS4 -->
    <style type="text/css">
      .fade {
        opacity: 1;
      }
    </style>

</head>

<body>
{% include 'messages.html' %}
    <h1>{% blocktrans with agente_full_name=agente.user.get_full_name %} Agente {{ agente_full_name }}{% endblocktrans %}</h1>
<div class="wrapper-dropdown">
    <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownExportActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% trans 'Exportar' %}
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownExportActions">
            <a class="dropdown-item" href="{% url 'exporta_reporte_calificaciones' agente.pk %}">{% trans 'Exportar Calificación(CSV)' %}</a>
            <a class="dropdown-item" href="{% url 'exporta_reporte_formularios' agente.pk %}">{% trans 'Exportar Gestión(CSV)' %}</a>
        </div>
    </div>
</div>

<div id="wrapper-search">
    <button id="btnCollapse" class="btn btn-block" type="button" data-toggle="collapse" data-target="#wrapperSearchForm" aria-expanded="true" aria-controls="wrapperSearchForm"><span class="icon icon-search"></span> {% trans 'Buscar' %}</button>
    <div id="wrapperSearchForm" class="show">
        <form role="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-6">
                   {{form.fecha}}
                </div>
            </div>
            <button type="submit" id="id_buscar_btn" class="btn btn-primary">
                {% trans 'Filtrar' %}
            </button>
        </form>
    </div>
</div>

<table class="table">
    <thead>
      <tr class="fts-table-bg">
        <th>{% trans 'Teléfono' %}</th>
        <th>{% trans 'Datos' %}</th>
        <th>{% trans 'Gestionado' %}</th>
        <th>{% trans 'Calificación' %}</th>
        <th>{% trans 'Observaciones' %}</th>
        <th>{% trans 'Acciones' %}</th>
      </tr>
    </thead>
    <tbody>
        {% for calificacion_cliente in listado_calificaciones %}
            <tr>
                <td>
                    <a class="btn btn-submit btn-outline-primary" href="javascript:;"
                      onclick="makeClick2Call('{{ calificacion_cliente.opcion_calificacion.campana.pk }}', '{{ calificacion_cliente.opcion_calificacion.campana.type }}', '{{calificacion_cliente.contacto.pk}}', '{{ calificacion_cliente.contacto.telefono }}', 'calificaciones');">{{ calificacion_cliente.contacto.telefono }}</a>
                </td>
                <td>
                    {{ calificacion_cliente.contacto.datos}}
                </td>
                <td>
                    {% if calificacion_cliente.es_gestion %}
                        <span class="icon icon-check" aria-hidden="true"></span>
                    {% else %}
                        <span class="icon icon-cancel" aria-hidden="true"></span>
                    {% endif %}
                </td>
                <td>
                  {{ calificacion_cliente.opcion_calificacion.nombre }}
                </td>
                <td>
                    {% if calificacion_cliente.observaciones %}
                        {{ calificacion_cliente.observaciones }}
                    {% endif %}
                </td>
                <td>
                  <div class="dropdown">
                      <button class="btn btn-light dropdown-toggle" type="button" id="dropdownActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {% trans 'Opciones' %}
                      </button>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownActions">
                          <a class="dropdown-item" href="{% url 'calificacion_cliente_actualiza_desde_reporte' calificacion_cliente.opcion_calificacion.campana_id calificacion_cliente.contacto_id %}">
                              <span class="icon icon-pencil"></span>{% trans 'Calificación' %}
                          </a>
                          {% if calificacion_cliente.get_venta %}
                              <a class="dropdown-item" href="{% url 'formulario_venta_update' calificacion_cliente.get_venta.pk %}">
                              <span class="icon icon-pencil"></span>{% trans 'Gestión' %}
                              </a>
                          {% endif %}
                      </div>
                  </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
